body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

input {
  margin-bottom: 30px;
  font-size: 16px;
}

.image-box {
  width: 500px;
  height: 400px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ddd;
  overflow: hidden;
  border-radius: 10px;
}

.image-box img {
  max-width: 80%;
  max-height: 80%;

  transition: transform 0.4s ease;
}

.buttons {
  margin-top: 30px;
}

button {
  padding: 12px 20px;
  margin: 5px;

  border: none;
  border-radius: 8px;

  background: #2563eb;
  color: white;

  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}